<div class="container mt-5">
  <div>
    <h5 class="text-light bg-primary rounded p-2" style="width: fit-content;">Customer Info</h5>
    <ul class="list-group list-group-flush m-2">
      <li class="list-group-item"><strong>First Name:</strong> {{addressInfo?.firstName}}</li>
      <li class="list-group-item"><strong>Last Name:</strong> {{addressInfo?.lastName}}</li>
      <li class="list-group-item"><strong>Street:</strong> {{addressInfo?.street}}</li>
      <li class="list-group-item"><strong>City:</strong> {{addressInfo?.city}}</li>
      <li class="list-group-item"><strong>Country:</strong> {{addressInfo?.country}}</li>
    </ul>
  </div>
</div>
