<section>
  <div class="d-flex justify-content-center pt-4">
      <h1>Welcome to ECommerce Site</h1>
  </div>
</section>
<div class="container marketing">

   <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
      <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="col-md-5">
      <img src="assets/images/bslide1.jpg" alt="first slide" style="display: block; width: 500px; height: 500px">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2 padding-left-20">
      <h2 class="featurette-heading ml-5">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
      <p class="lead ml-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="assets/images/bslide2.jpg" alt="first slide" style="display: block; width: 500px; height: 500px">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
      <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="col-md-5">
      <img src="assets/images/bslide3.jpg" alt="first slide" style="display: block; width: 500px; height: 500px">
    </div>
  </div>

</div>
