<div class="container mt-5">
  <div *ngIf="(basket$ | async) === null">
    <h4 class="bg-danger text-light p-3" style="border-radius: 8px">
      <i class="fa fa-info-circle text-light"></i> Sorry, No Products in your
      basket
    </h4>
  </div>
  <div *ngIf="basket$ | async">
    <div class="pb-5">
      <div class="containet">
        <div class="row">
          <div class="col-9 py-5 mb-2">
            <app-basket-summary
              (decrement)="decrementItemQuantity($event)"
              (increment)="incrementItemQuantity($event)"
              (remove)="removeBasketItem($event)"
            ></app-basket-summary>
          </div>
          <div class="col-3 mt-5">
            <app-order-total></app-order-total>
            <button
              routerLink="/checkout"
              class="btn btn-warning text-light w-100"
            >
              Checkout
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
