<div class="container mt-5">
  <div *ngIf="(basket$ | async) === null">
    <h4 class="bg-danger text-light p-3" style="border-radius: 8px;"><i class="fa fa-info-circle text-light"></i> Sorry, No Products in your basket</h4>
  </div>
  <div *ngIf="basket$ | async">
    <div class="pb-5">
      <div class="containet">
        <div class="row">
          <div class="col-8 py-5 mb-2">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="border-0 bg-light" scope="col">Product Name</th>
                    <th class="border-0 bg-light" scope="col">
                      Product Quantity
                    </th>
                    <th class="border-0 bg-light" scope="col">Product Price</th>
                    <th class="border-0 bg-light" scope="col">Total Price</th>
                    <th class="border-0 bg-light" scope="col">Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of (basket$ | async).items">
                    <th scope="row">
                      <div class="p-2">
                        <img
                          src="{{ item.pictureUrl }}"
                          class="img-fluid"
                          style="height: 50px; width: 52px; border-radius: 50%"
                        />
                        <div class="ml-3 d-inline-block align-middle">
                          <p class="mb-0">
                            <a
                              routerLink="/market/{{ item.id }}"
                              class="text-dark"
                              >{{ item.productName }}</a
                            >
                          </p>
                        </div>
                      </div>
                    </th>
                    <th class="text-center">
                      <i (click)="decrementItemQuantity(item)" class="fa fa-minus-circle mr-2 text-primary"></i>
                      <span style="font-size: 1.5em" class="font-weight-bold"
                        >{{item.quantity}}</span
                      >
                      <i (click)="incrementItemQuantity(item)" class="fa fa-plus-circle mx-2 text-primary"></i>
                    </th>
                    <th class="text-center">{{ item.price | currency }}</th>
                    <th class="text-center">
                      {{ item.quantity * item.price | currency }}
                    </th>
                    <th class="text-center">
                      <i (click)="removeBasketItem(item)" class="fa fa-trash text-danger"></i>
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-4 mt-5">
            <app-order-total></app-order-total>
            <button routerLink="/checkout" class="btn btn-warning text-light w-100">Checkout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
