    <!-- <div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-light border-bottom shaddow-sm">
      <h3 class="title text-warning">ECommerce Site</h3>
      <nav class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-secondary">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 text-secondary">About</a></li>
      </nav>

      <div class="btn-container d-flex align-items-center">
        <a class="position-relative" href="">
          <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
          <div class="cart-no">5</div>
        </a>
        <a style="margin-right: 15px !important; margin-left: 15px !important;" class="btn btn-outline-warning mr-2">Login</a>
        <a class="btn btn-warning mr-3">Sign-up</a>
      </div>
    </div> -->

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h3 class="my-0 mr-md-auto text-warning font-weight-bold text-uppercase">ecommerce</h3>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">home</a>
        <a class="p-2 text-dark" href="#">Enterprise</a>
        <a class="p-2 text-dark" href="#">Support</a>
        <a class="p-2 text-dark" href="#">Pricing</a>
      </nav>
      <a class="position-relative" href="">
        <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
        <div class="cart-no">5</div>
      </a>
      <a style="margin-right: 15px !important; margin-left: 15px !important;" class="btn btn-outline-warning mr-2">Login</a>
      <a class="btn btn-warning mr-3">Sign-up</a>
    </div>
